# flickr
FLICKR_API_KEY=api_key
FLICKR_API_SECRET=flickr_secret

# AIaaS (https://portal.rcp.epfl.ch)
RCP_API_KEY_QWEN3=sk-something_secret

# local postgres database
LOCAL_PGHOST=localhost
LOCAL_PGPORT=5432
LOCAL_PGDATABASE=flickr_commons_metadata
#   users pwd
LOCAL_PWDCRAWLER=crawler_pwd
LOCAL_PWDDEV=dev_pwd
LOCAL_PWDSERVER=server_pwd
LOCAL_PWDTRAINER=trainer_pwd

# remote postgres database
PGHOST=flickr-dev.postgresql.dbaas.intranet.epfl.ch
PGPORT=5432
PGDATABASE=app
#   users pwd
PWDAPP=app_pwd
PWDCRAWLER=crawler_pwd
PWDDEV=dev_pwd
PWDSERVER=server_pwd
PWDTRAINER=trainer_pwd
#   other
rapprochement=secret_rap 
